@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.main_iniciosesion,
.main_registro, .index-inicio .inicio_galeria, .index-inicio .inicio_video, .productos-buscador, .caja-producto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.tipografia_basica, h2, h3 {
  color: black;
  font-family: "Poppins", "sans-serif"; }

.main_iniciosesion,
.main_registro {
  padding: 150px; }

.inicio_galeria_img-1 {
  width: 210px; }

.inicio_galeria_img-2 {
  width: 420px; }

.inicio_galeria_img-3 {
  width: 630px; }

.inicio_galeria_img-4 {
  width: 840px; }

.inicio_galeria_img-5 {
  width: 1050px; }

.inicio_galeria_img-6 {
  width: 1260px; }

.inicio_galeria_img-7 {
  width: 1470px; }

.inicio_galeria_img-8 {
  width: 1680px; }

.inicio_galeria_img-9 {
  width: 1890px; }

.inicio_galeria_img-10 {
  width: 2100px; }

.inicio_galeria_img-11 {
  width: 2310px; }

.inicio_galeria_img-12 {
  width: 2520px; }

.inicio_galeria_img-13 {
  width: 2730px; }

.inicio_galeria_img-14 {
  width: 2940px; }

.inicio_galeria_img-15 {
  width: 3150px; }

.inicio_galeria_img-16 {
  width: 3360px; }

.inicio_galeria_img-17 {
  width: 3570px; }

.inicio_galeria_img-18 {
  width: 3780px; }

.inicio_galeria_img-19 {
  width: 3990px; }

.inicio_galeria_img-20 {
  width: 4200px; }

.inicio_galeria_img-21 {
  width: 4410px; }

.inicio_galeria_img-22 {
  width: 4620px; }

.inicio_galeria_img-23 {
  width: 4830px; }

.inicio_galeria_img-24 {
  width: 5040px; }

.inicio_galeria_img-25 {
  width: 5250px; }

.inicio_galeria_img-26 {
  width: 5460px; }

.inicio_galeria_img-27 {
  width: 5670px; }

.inicio_galeria_img-28 {
  width: 5880px; }

.inicio_galeria_img-29 {
  width: 6090px; }

.inicio_galeria_img-30 {
  width: 6300px; }

.inicio_galeria_img-31 {
  width: 6510px; }

.inicio_galeria_img-32 {
  width: 6720px; }

.inicio_galeria_img-33 {
  width: 6930px; }

.inicio_galeria_img-34 {
  width: 7140px; }

.inicio_galeria_img-35 {
  width: 7350px; }

.inicio_galeria_img-36 {
  width: 7560px; }

.inicio_galeria_img-37 {
  width: 7770px; }

.inicio_galeria_img-38 {
  width: 7980px; }

.inicio_galeria_img-39 {
  width: 8190px; }

.inicio_galeria_img-40 {
  width: 8400px; }

.inicio_galeria_img-41 {
  width: 8610px; }

.inicio_galeria_img-42 {
  width: 8820px; }

.inicio_galeria_img-43 {
  width: 9030px; }

.index-inicio {
  background-color: black; }
  .index-inicio .inicio_galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 300px;
    height: 200px;
    padding: 20px 170px 80px 80px;
    margin: 20px 300px 300px 80px; }
  .index-inicio .inicio_video {
    padding-top: 25px;
    margin-bottom: 90px; }
  .index-inicio .imginicio {
    width: 380px;
    height: 470px; }
  .index-inicio .inicio-banner {
    width: 100%;
    background-color: #c00066;
    padding-left: 200px; }
    .index-inicio .inicio-banner .inicio_banner-img {
      width: 845px;
      height: 240px; }

footer {
  background-image: linear-gradient(to top, #850420e5, #b9073ce7, #b30631d3, #cc143ca8, #f31d5293);
  background-size: cover;
  color: black;
  text-align: center;
  padding: 50px;
  width: 100%; }

.flex-footer_iconos {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: flex-end; }

.footer_iconos {
  width: 40px;
  height: 40px;
  display: flex; }

.productos {
  background-color: rgba(255, 255, 255, 0.842);
  padding: 100px;
  margin: 40px;
  width: 1400px;
  height: 700px; }

.inicio_buscador--item {
  width: 300px;
  height: 38px; }

.caja-producto {
  width: 380px;
  height: 560px;
  background-color: white;
  padding: 15px;
  margin: 30px;
  border-radius: 10px; }

.producto_imagen {
  width: 280px;
  height: 500px;
  padding: 5px;
  margin: 80px, 80px; }

.icono-comprar {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

._fondo,
.flex-productos {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px; }

.menu_boton {
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 15px !important;
  border-width: 3px !important;
  border-color: #f16b82 !important;
  padding: 5px;
  font-size: 1.0em; }

.menu_botones {
  display: flex;
  flex-flow: column;
  flex-direction: row;
  align-items: flex-end; }

.nav_logo {
  width: 260px;
  height: 110px;
  margin-left: 40px; }

.botonprincipal {
  background-color: #920b21; }

th {
  background-color: #920b21;
  color: white; }

td {
  border: 1px solid black;
  background-color: #f16b82;
  color: black; }

h1 {
  font-family: "Satisfy", "cursive";
  font-size: 2.3em;
  padding-left: 75px;
  padding-top: 30px; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.2em; }

.flex-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch; }

.menu_nav {
  text-align: right;
  padding: 0px 50px 20px 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.959); }
  .menu_nav li {
    padding: 12px;
    display: inline-block; }

header {
  width: 100%;
  position: fixed; }

.nav-menudespegable {
  width: 250px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.89) !important;
  text-align: left; }

.menudespegable_li {
  position: relative; }

.nav_items {
  padding-top: 20px; }

.nav_ul {
  list-style: none;
  padding-left: 0px; }
  .nav_ul li:hover ul {
    display: block;
    background-color: #920b21;
    border-radius: 15px; }
  .nav_ul ul {
    position: absolute;
    display: none; }
    .nav_ul ul li {
      display: block; }

.nav-link {
  text-decoration: none;
  color: white; }

/*Animaciones*/
.nav-item:hover {
  transform: scale(1.3); }

.menu_boton:hover {
  transform: scale(1.1);
  background-color: #f16b82 !important; }

/*
.menu_bar{
    display: none;
}
.menu_bar{
    display: block;
    width: 100%;
    background: red;
}

.nav-descuento{
    display: block;
    width: 100%;
    background: $color-principal;
    text-align: center;
}
*/
