$color-principal: 
    rgb(146, 11, 33);

$color-secundario: 
    rgb(241, 107, 130); 

$tipografia-principal:
    'Poppins', 'sans-serif'; 

$tipografia-titulo:
    'Satisfy', 'cursive';

$color-degradado:
        linear-gradient(to top,
        #920826e5,
        #b9073ce7, 
        #cf1040d3,
        #cf2b4fa8, 
        #ff487693,
        );

%flex-centro{
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 50px;
        margin: 5px;
        }

.tipografia_basica{
    color: black;
    font-family: $tipografia-principal} 
