*{  margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}


.tabla1, .tabla2{
        padding-top: 5%;
        padding-bottom: 5%; 
        padding-left: 5%;
        }
.tabla2{
        margin: 5px;
        }



/*aplicado con boostrap*/

.botonprincipal{
        width: 180px;
        height: 40px;
        border-radius: 80px;
        padding: 5px;
        font-size: 1.0em;
        color: white;
}   



/*Grid*/
.container-tabla{
        display: grid;
        grid-template-columns: 45% 45%;
        column-gap: 20px;

}

.form-grids{
        display: grid;
        grid-template-rows: 50px 50px 280px 50px;
        grid-template-columns: 300px 350px 220px;
        grid-row-gap: 5px;
        grid-column-gap: 5px;
}
    .form-nombre{
        grid-column: 1/3;
        grid-row: 1/4;
}
    
    .form-apellido{
        grid-column: 2/3;
        grid-row: 1/4;
}
    .form-ecivil{
        grid-column: 1/3;
        grid-row: 2/4;
    }
    .form-mensaje{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .form-news{
        grid-column: 1/3;
        grid-row: 4/4;
    }
    .form-enviar{
        grid-column: 3/3;
        grid-row: 4/4;
    }

 